{{define "head"}}{{end}}
{{define "menu"}}{{end}}
{{define "body"}}
<h3>Tag: {{.Name}}</h3>
{{range .Items}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/view/{{.Id | urlquery}}"><span class="glyphicon glyphicon-menu-right"></span>{{.Title}}</a></h3>
  </div>
  <div class="panel-body">
    {{.Body}}
    <div>
    {{range .Tags}}
      <a href="/tag/{{. | urlquery}}" class="label label-primary">{{.}}</a>
    {{end}}
    </div>
  </div>
</div>
{{end}}
{{end}}
{{define "script"}}{{end}}